@model shanuMVCUserRoles.Models.Appointment
@{
    ViewBag.Title = "Odwołanie wizyty";
}
<h2>Odwołanie wizyty</h2>
<h3>Czy jesteś pewien, że chcesz odwołać wizytę?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Odwołaj" class="btn btn-danger" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
