@{
    ViewBag.Title = "Strona główna";
}

<center>
    <div>
        <h2>
            <img src="~/Content/webmedic.png" alt="Logo"></>
        </h2>
    </div>

    <div class="row">
            <h2>Wirtualny lekarz</h2>
            <p>
                Pozwala na dostęp i organizowanie wizyt pacjentom, a także lekarzom.
            </p>
    </div>
</center>
