@{
    ViewBag.Title = "Strona główna";
}
<style>
    img {
    width: 200px;
    height: 200px;
}
</style>
<center>
    <div class="row">
            <h2>WebMedic</h2>
            <p>
                Pozwala na dostęp i organizowanie wizyt pacjentom, a także lekarzom.
            </p>
    </div>
    <div class="row">
        <section>
            <img src="~/Content/lekarz.jpg"></>
            <img src="~/Content/lekarz2.jpg"></>
        </section>
    </div>
    <div class="row">
        <section>
            <img src="~/Content/lekarz3.jpg"></>
            <img src="~/Content/lekarz4.jpg"></>
        </section>
    </div>
</center>
