@if (User.IsInRole("Nieautoryzowany"))
{
        ViewBag.Title = "Zarejestrowano";
 }
 @if (User.IsInRole("Lekarz") || User.IsInRole("Pacjent"))
 {
                ViewBag.Title = "Zalogowano";
}
<style>
    .img2 {
        width: 500px;
        height: 400px;
    }
    .img1 {
        width: 100%;
            height: auto;

    }
</style>
<center>
    <img class="img1" src="~/Content/lekarze.jpg" alt="welcome" />
</center>
    <h2>  Witaj <strong>@ViewBag.Name</strong> :) </h2>
<div class="row">
    <div class="col-md-6">
        <img class="img2" src="~/Content/menu.jpg" alt="welcome" />
    </div>
    <div class="col-md-6 jumbotron">
            @if (Request.IsAuthenticated && !User.IsInRole("Pacjent") && !User.IsInRole("Lekarz") && !User.IsInRole("Admin"))
            {
                <h3> Administrator musi zatwierdzić Twoje konto abyś mógł korzystać z portalu <strong>WebMedic</strong>. O zakończonej autoryzacji zostaniesz powiadomiony mailowo. </h3>
            }
            @if (User.IsInRole("Pacjent"))
            {
                <h3> Korzystaj z portalu <strong>WebMedic</strong>. Zapisuj się, przeglądaj i odwołuj swoje wizyty, bez kolejek!  </h3>
                <h3> Wejdź w zakładkę w prawym górnym rogu: "Twoj Profil", aby rozpocząć. </h3>
            }
            @if (User.IsInRole("Lekarz"))
            {
                <h3> Korzystaj z portalu <strong>WebMedic</strong>. Twórz wolne terminy, przeglądaj i odwołuj wizyty, wszystko w jednym miejscu! </h3>
                <h3> Wejdź w zakładkę w prawym górnym rogu: "Twoj Profil", aby rozpocząć. </h3>
            }
      </div>

    </div>



